/*Using CSS from https://www.w3schools.com/css/css_navbar.asp for the navbar*/

body {
    margin: 0;
}

#header, #listoptions {
    background-color: darkslategray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom-style: solid;
}

#name {
    position: absolute;
    top: -9px;
    left: 15px;
}

#cardname {
    color: pink;
}

li {
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    border-right-style: solid;
}  

.navbutton:hover {
    background-color: black;
}

#search {
    padding: 12.3px 16px;
}