<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ganymede Archives - Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Development Version of Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>

<body>
    <div id="app">
        <h3>Total Views</h3>
        <ul v-for="(value, name) in viewData">
            <li>{{ name }} : {{ value }}</li>
        </ul>
        <h3>User Ratings</h3>
        <ul v-for="(value, name) in ratingData">
            <li>{{ name }} : {{ value }}</li>
        </ul>
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-database.js"></script>

<script src="js/card.js"></script>
<script src="js/components.js"></script>
<script src="js/admin.js"></script>


</html>