<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ganymede Archives - Keyforge Data and Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Development Version of Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div id="app">
        <ul id="header">
            <li id="title">Ganymede Archives</li>
            <li id="search">
                <input v-model="inputText" type="text" placeholder="Search for cards here"></input>
                <input @click="displayCardData(true)" type="button" value="Search"></input>
            </li>
            <li class="navbutton" @click="displayList">Most Popular</li>
            <!--li class="navbutton" @click="displayList('ratings')" >Highest Rated</li--->
        </ul>

        <card-details v-if="displayState.states.card" v-bind:name="card.data.card_title" v-bind:image="card.data.front_image"
            v-bind:winratemodifier="card.data.winRateModifier"  v-on:created="drawCharts" v-on:set-rating="setRating"></card-details>

        <card-list v-if="displayState.states.list" v-bind:list="listData" v-bind:entries="listLength" v-on:filter-changed="filterChanged"
         v-on:num-filter-changed="numberFilterChanged" v-on:page-change-selected="changePage"></card-list>

        <!-- Vue component presenting the basic information about a card -->
    </div>

    
</body>

<!-- Prepare Firebase -->

<script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-database.js"></script>

<script>
  
</script>

<!-- load all other files -->
<script src="js/card.js"></script>
<script src="js/StateHandler.js"></script>
<script src="js/components.js"></script>
<script src="js/main.js"></script>


</html>